html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
}
/***************** Header ******************/
header {
  background: rgb(39, 56, 92);
  padding: 20px;
  color: white;
  border: solid 3px black;
}

header .title {
  font-size: 30px;
  display: inline-block;
}

header .minititle {
  margin-left: 80%;
  font-size: 25px;
  display: inline-block;
}

nav {
  text-align: center;
  margin-top: 75px;
}

ul {
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-left: 30px;
}
/********************* Main ******************/
main {
  margin-top: 70px;
}
/****************** Footer *****************/
footer {
  margin-top: 40px;
  background: rgb(39, 56, 92);
  padding: 15px;
  border: solid 3px black;
  text-align: center;
}

footer a {
  color: white;
}

footer li {
  display: inline-block;
  color: white;
}

.departure {
  float: left;
  margin-left: 1em;
}

.arrival {
  margin: 0 auto;
}

.now {
  float: right;
  margin-right: 1em;
}
/****************** Carousel ***************/
div#slider {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 15px;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  animation: 30s slidy infinite;
}

div#slider figure img {
  width: 20%;
  height: auto;
  float: left;
}

.minititle a {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 25px;
}
@keyframes slidy {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}
/************* Page avis **************/
.img {
  margin-left: 210px;
  margin-top: 40px;
}

main h1 {
  margin-left: 835px;
  color: blue;
  font-size: 25px;
  font-style: italic;
  text-decoration: underline;
}

.avis {
  margin-left: 715px;
  margin-top: 50px;
  border: solid 1px rgb(207, 205, 202);
  border-radius: 5px;
  width: 500px;
}

.form,
.radio {
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
}

.form input {
  margin-top: 25px;
  height: 25px;
}

hr {
  margin-left: 60px;
  margin-right: 60px;
}

.button {
  margin-bottom: 15px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 80px;
}

textarea {
  margin-top: 35px;
  width: 400px;
  height: 100px;
}

.face,
.inf {
  font-size: 20px;
}
/****************** Page Villes *********************/
.villes {
  margin-left: 670px;
}

.num {
  margin-left: 170px;
  margin-top: 90px;
  font-size: 20px;
}

.num p {
  margin-left: 25px;
}

h2 {
  color: white;
  border: solid 2px rgb(39, 56, 92);
  border-radius: 3px;
  background: rgb(39, 56, 92);
  width: 230px;
}
