html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
}

body {
  background-image: url('images/1.jpg');
}

h1,
h2,
h3 {
  text-align: center;
}

.back {
  height: 100vh;
}
/* les formulaires */
input {
  margin: 1em 0;
  width: 100%;
}

.hide {
  position: relative;
  opacity: 1;
  margin: 10em auto;
  padding: 2em;
  background: rgb(232, 232, 232);
  border: 0.1em solid rgb(207, 207, 207);
  border-radius: 3em;
  width: 30em;
  height: auto;
}
/* TRANSITION */
.minititle a:hover {
  color: rgb(181, 202, 246);
}
/* TRANSITION overlay */
#wrap {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(9, 9, 9, 0.8);
}
/***************** Header ******************/
header {
  background: rgb(39, 56, 92);
  padding: 2em;
  border: solid 0.3em black;
}

header .title {
  font-size: 30px;
  color: white;
  display: inline-block;
}

header .minititle {
  float: right;
  font-size: 25px;
  display: inline-block;
}

nav {
  text-align: center;
  padding: 75px;
}

ul {
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-left: 30px;
}
/********************* Main ******************/
.main {
  margin-top: 7em;
}

.left {
  width: 20em;
  padding: 5em;
  text-align: center;
}

.left li {
  margin-top: 2em;
}
/****************** Footer *****************/
footer {
  margin-top: 40px;
  background: rgb(39, 56, 92);
  padding: 15px;
  border: solid 3px black;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

footer a {
  color: white;
}

footer li {
  display: inline-block;
  color: white;
  margin-left: 2em;
}
/****************** Carousel ***************/
div#slider {
  margin: 0 auto;
  width: 80%;
  max-width: 100em;
  overflow: hidden;
  border-radius: 1.5em;
  display: inline-block;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  animation: 30s slidy infinite;
}

div#slider figure img {
  width: 20%;
  height: auto;
  float: left;
}

.minititle a {
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 25px;
}
