/************* Page avis **************/
.img {
  margin-left: 210px;
  margin-top: 40px;
}

main h1 {
  margin-left: 835px;
  color: blue;
  font-size: 25px;
  font-style: italic;
  text-decoration: underline;
}

.avis {
  margin-left: 715px;
  margin-top: 50px;
  border: solid 1px rgb(207, 205, 202);
  border-radius: 5px;
  width: 500px;
}

.form,
.radio {
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
}

.form input {
  margin-top: 25px;
  height: 25px;
}

hr {
  margin-left: 60px;
  margin-right: 60px;
}

.button {
  margin-bottom: 15px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 80px;
}

.face,
.inf {
  font-size: 20px;
}
