/*public*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
}

/****************************généralité*****************************/
h1,
h2,
h3,
h4 {
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

/***************** Header ******************/
header {
  background: rgb(39, 56, 92);
  padding: 2em;
  height: 10em;
  border: solid 0.3em black;
}

.title {
  font-size: 4em;
  color: white;
  display: inline-block;
}

.minititle {
  float: right;
  font-size: 2.5em;
  display: inline-block;
  color: white;
}

.session {
  font-size: 2.5rem;
}

.logout {
  font-size: 1.5rem;
}

.minititle a,
.title a {
  color: white;
}


/****************** Page Villes *********************/
.villes {
  margin-left: 670px;
}

.num {
  margin-left: 170px;
  margin-top: 90px;
  font-size: 20px;
}

.num p {
  margin-left: 25px;
}

h2 {
  color: white;
  border: solid 2px rgb(39, 56, 92);
  border-radius: 3px;
  background: rgb(39, 56, 92);
  width: 230px;
}
