/****************** Page Villes *********************/
.villes {
  margin-left: 670px;
}

.num {
  margin-left: 170px;
  margin-top: 90px;
  font-size: 20px;
}

.num p {
  margin-left: 25px;
}

h2 {
  color: white;
  border: solid 2px rgb(39, 56, 92);
  border-radius: 3px;
  background: rgb(39, 56, 92);
  width: 230px;
}
